/* SITE WEB 
AÏT CHADI Anissa, BERGERE Sarah, COSTA Mathéo, FELGINES Sara
ING 1 GI GROUPE 4 */

.description {
  margin-top: 50px;
  font-family: sans-serif;
  text-align: center;
}

.head {
  font-size: x-large;
  font-weight: bolder;
}

.texte {
  padding: 0 20px 0 20px;
}

.abonnement {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

/* Style the list */
ul {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
}

/* Add shadows on hover */
ul:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

/* Pricing header */
ul .titre {
  background-color: #C2D8B9;
  color: white;
  font-size: 25px;
  text-align: center;
}

/* List items */
ul li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
ul .couleur {
  background-color: #eee;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: #C2D8B9;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.button:hover {
  background-color: #a9db95;
  color: black;
  font-weight: bold;
  border: solid black;
}

.desabonnement {
  position: absolute;
  left: 45%;
}


.container-fluid {
  background-color: #C2D8B9;
  text-align: center;
}

header {
  height: 70px;
  line-height: 70px;
}

.container a {
  outline: none;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.logo {
  float: left;
  color: #ffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
  float: left;
  font-family: 'Boogaloo', cursive;
}

.logo:hover {
  font-size: 150%;
  /*Léger zoom quand on passe dessus*/
}

header .reseauxlog {
  font-size: 200%;
  color: rgb(0, 0, 0);
}

header .reseauxlog:hover {
  color: bisque;
  font-size: 300%;
  /*Zoom des logos quand on passe dessus*/
}

.icons {
  float: right;
}

.reseauxlog {
  color: #000000;
}

@media screen and (min-width: 1000px) {
  ul {
    width: 800px;
  }
}

@media screen and (max-width: 750px) {
  .abonnement {
    margin: 50px 20px 0 20px;
  }

  .texte {
    margin: 0 10px 0 10px;
  }
}
