/* SITE WEB 
AÏT CHADI Anissa, BERGERE Sarah, COSTA Mathéo, FELGINES Sara
ING 1 GI GROUPE 4 */
/* HEADER */
.container-fluid {
  background-color: #C2D8B9;
  text-align: center;
}

header {
  height: 70px;
  line-height: 70px;
  width: 100%;
}

.container a {
  outline: none;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

.logo {
  float: left;
  color: #ffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
  float: left;
  font-family: 'Boogaloo', cursive;
}

.logo:hover {
  font-size: 150%;
  /*Léger zoom quand on passe dessus*/
}

header .reseauxlog {
  font-size: 200%;
  color: rgb(0, 0, 0);
}

header .reseauxlog:hover {
  color: bisque;
  font-size: 300%;
  /*Zoom des logos quand on passe dessus*/
}

.icons {
  float: right;
}

.reseauxlog {
  color: #000000;
}

.texte{  
  margin-top: -30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-box{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.statut{
  margin-bottom: 10px;
}

.login-form{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

form {
  background-color: #C2D8B9;
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form .social-media {
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form .social-media p {
  width: 30px;
  margin-left: 10px;
  border-radius: 100%;
  border: 1px solid #545454;
  text-align: center;
  cursor: pointer;
  color: #545454;
}

form p.choose-email {
  text-align: center;
}

form .inputs {
  display: flex;
  flex-direction: column;
}

form .inputs input,
input[type='email'],
input[type='password'] {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #E4F0D0;
  outline: none;
  margin-bottom: 15px;
}

form p.inscription {
  font-size: 14px;
  margin-bottom: 20px;
  color: #878787;
}

form p.inscription span {
  color: #878787;
}

form button {
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  background-color: #E4F0D0;
  outline: none;
  cursor: pointer;
}

form .groupe {
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  color: #fff;
  background-color: #cda6a5;
  outline: none;
  cursor: pointer;
}

form .forget {
  font-size: 14px;
  margin-bottom: 20px;
  color: #878787;
}