/*SITE WEB 
AÏT CHADI Anissa, BERGERE Sarah, COSTA Mathéo, FELGINES Sara
ING 1 GI GROUPE 4*/ 

* {                              /*Pour retirer les margin par défaut du body*/
    margin: 0;
    padding: 0; }

                                /*Pour faire en sorte que l'affichage prenne la taille de l'écran*/
html {
    height: 100%;}

body {
    height: 100%;
    background:whitesmoke; }

 
.test{
    padding-top: 2%;
    width: 100%;
}
.zones {
   margin-left: auto;
   margin-right: auto;
   padding-right: 1%;
   padding-left: 1%;
    min-height: 100%;
    width: 30%;
    position: relative;
    border: solid black 3px;
    background: linear-gradient(135deg, transparent 20%,#b9e966) ;
}

.zones>#profil{
    text-align: right;
    
}

.zones>#nom{
    text-align: center;
    
}

.zones>#coordonnes{
    text-align: left;
   
}



#fermé {           /*Bouton pour fermer le formulaire de connexion*/
    text-align: right;
    width: fit-content;
    border : solid black 2px;
    background-color:grey;
    color:white; }
