/*SITE WEB 
AÏT CHADI Anissa, BERGERE Sarah, COSTA Mathéo, FELGINES Sara
ING 1 GI GROUPE 4*/ 

.container-fluid{
    background-color: rgb(71, 71, 155);
    padding: 1%;
    text-align: center;
}

.container a{
    outline: none;
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
    font-weight: bold;
}

.btn{
    background-color:rgb(174, 66, 66);
    color: antiquewhite;
    align-items: center;
}

i:hover{
    cursor: pointer;
}

#connexion{
    color: rgb(172, 136, 206);
    text-decoration: underline;
    font-weight: 400;
}

.connexion{
    font-weight: 400;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=email] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #6fd575;
}
