/*SITE WEB 
AÏT CHADI Anissa, BERGERE Sarah, COSTA Mathéo, FELGINES Sara
ING 1 GI GROUPE 4*/ 


@charset "UTF-8";

/* font-family: 'Boogaloo', cursive; */

body, html
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Boogaloo', cursive;
}

a, a:hover
{
    text-decoration: none;
}

.container-fluid
{
    padding: 0;  
}

h2
{
    text-align: center;
}

/* HEADER */

.header 
{
    background-color: #5e2bff;
    height: 70px;
    line-height: 70px; /*Pour centrer ce qu'il y a à l'interieur de manière verticale*/
}

.logo
{
    color: #ffff;
    text-transform: uppercase; /*Ecrit en majuscule (en attendant de trouver un vrai logo*/
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;  /*Pour espacer les lettres*/
    float: left; /*On le garde a gauche*/  
}

.logo:hover
{
    font-size: 150%;  /*Léger zoom quand on passe dessus*/
}

header .reseauxlog
{
    font-size: 200%;
    color: rgb(0, 0, 0);
}

header .reseauxlog:hover
{
    color:bisque;
    font-size: 300%;  /*Zoom des logos quand on passe dessus*/
}

.menu
{
    margin: auto;
    width: 50%;
    height: 100%;
}

.menu .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.menu .main_pages a 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    color: white;
    font-size: 150%;
}

.menu a:hover 
{
    color: #5A5766
}

/* Changement de l'affichage du menu quand on diminue la taille de la fenêtre */
#label-toggle, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    .menu
    {
        height: 60px;
    }
 
    .menu .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    menu .main_pages a 
    {
        width: 50%;
    }
    #label-toggle
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked + .main_pages 
    {
        display: flex;
    }
}

/* FIN Changement de l'affichage du menu quand on diminue la taille de la fenêtre */

.icons
{
    float:right;
}

.reseauxlog
{
    color: #000000;
}

/*FIN DU HEADER*/

/* BANNIERE AVEC MENU */

.inner-banniere
{
    position: relative;
    top: 40%;  
    width: 100%;
    background-color: #7CC6FE;
}

input
{
    margin-bottom: 20px;
}

input[type=text]
{
    height: 50px;
    width: 100%;
    border: none;
}

.search 
{
    width: 100%;
    display: flex;
    padding-top: 5%;
}
  
.searchTerm 
{
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus
{
    color: #00B4CC;
}
  
.searchButton 
{
    width: 40px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton i
{
  display: flex;  /*Pour centrer la loupe*/  
}

.searchButton i:hover
{
    color: #000000;
    font-size: 115%;  /*léger zoom sur la loupe*/
}
  
/* FIN BANNIERE AVEC MENU */

/*AFFICHAGE DES PRODUITS */
.product{
    margin: 10px;
    height: 90%;
}

.product:hover{
    cursor: pointer;
}

#about h4{
    margin-bottom: -3px;
}

.nouveau_prix{
    color: #e3a657;
}

#about h5{
    font-weight: bold;
}

#ancien_prix{
    color: red;
    text-decoration: line-through;
}

#about span{
    font-size: 13px;
}

.dot{
    height: 40px;
    width: 40px;
    background-color: #e3a657;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 80%;
}

.inner-dot{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-fluid{
    transition : transforme ease-in 0.2s;
    margin: 18px;
}

.img-fluid:hover{
    transform: scale(1.3);
}

.dot:hover{
    transform: scale(1.1);
}
/*FIN AFFICHAGE DES PRODUITS */


/*CSS PRODUITS QUAND ON CLIQUE (+ DE DÉTAILS)*/

ul > li
{
    margin-right:25px;font-weight:lighter;cursor:pointer
}

li:hover
{
    border-bottom:3px solid silver;
}

.item-photo
{
    display:flex;justify-content:center;
    align-items:center;
    border-right:1px solid #f6f6f6;
}

.menu-items
{
    list-style-type:none;
    font-size:11px;
    display:inline-flex;
    margin-bottom:0;
    margin-top:20px
}

.btn-success
{
    width:100%;
    border-radius:0;
}

.section
{
    width:100%;
    margin-left:-15px;
    padding:2px;
    padding-left:15px;
    padding-right:15px;
    background:#f8f9f9
}

.title-price
{
    margin-top:30px;
    margin-bottom:0;
    color:black
}

.title-attr
{
    margin-top:0;
    margin-bottom:0;
    color:black;
}

div.section > div 
{
    width:100%;
    display:inline-flex;
}

div.section > div > input 
{
    margin:0;
    padding-left:5px;
    font-size:10px;
    padding-right:5px;
    max-width:18%;
    text-align:center;
}

#affiche>* 
{
    flex-shrink: 0;
    width: 50%;
    padding-top: 2%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

@media (max-width: 426px) 
{
    #produits {margin-top:0px !important;}
    #produits > .row{padding:0 !important;}
    #produits > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;    
    }
    #produits > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    #produits > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;

    }            
    .section{width:104%;}
    .menu-items{padding-left:0;}
}

/*FIN CSS PRODUITS QUAND ON CLIQUE (+ DE DÉTAILS)*/


/* FILTRE DES PRODUITS */

#sidebar
{
    width: 20%;
    padding: 10px;
    margin-top: 5%;
    float: left;
}

#filtre
{
    list-style: none;
    padding: 5px;
}

#filtre li:hover
{
    text-decoration: none;
    background-color: rgb(223, 220, 220);
}

.fa-circle
{
    font-size: 20px;
}

@media screen and (min-width:567px)  and (max-width:767px)
{
    .list-group-item
    {
        position: unset;  /*Pour retirer le position: relative par défaut*/
        padding :7%;
    }
    #sidebar
    {
        width: 30%;
    }
}

@media(max-width:567px)
{
    #sidebar
    {
        width: 100%;
        padding: 10px;
        margin: 0;
        float: left;
    }
    .list-group-item
    {
        padding: 3px;
        position: unset;
    }

}
/* FIN FILTRE DE NAVIGATION */

/*SLIDER*/

.slider
{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: 2% 2%;
}

.slides
{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input
{
    display : none;
}

.slide
{
    width: 20%;
    transition: 1s;
}

.slide img
{
    width: 100%;
    height: 500px;
}

.navigation-manuel
{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manuel-btn
{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition : 1s;
}

.manuel-btn:not(:last-child)
{
    margin-right: 40px;
}

.manuel-btn:hover
{
    background : rgb(0, 0, 0);
}

#radio1:checked ~ .premier
{
    margin-left: 0;
}

#radio2:checked ~ .premier
{
    margin-left: -20%;
}

#radio3:checked ~ .premier
{
    margin-left: -40%;
}

#radio4:checked ~ .premier
{
    margin-left: -60%;
}

.navigation-auto
{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div
{
    border: 2px solid rgb(0, 0, 0);
    padding : 5px;
    border-radius : 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child)
{
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1
{
    background:rgb(0, 0, 0);
}

#radio2:checked ~ .navigation-auto .auto-btn2
{
    background:rgb(0, 0, 0);
}

#radio3:checked ~ .navigation-auto .auto-btn3
{
    background:rgb(0, 0, 0);
}

#radio4:checked ~ .navigation-auto .auto-btn4
{
    background:rgb(0, 0, 0);
}

.slide p
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
/* FIN SLIDER*/

/* FOOTER */

.footer
{
    margin-top: 7%;
    background-color: #5DFDCB;
    height: 1000px;
}

.footer .container
{
    background-color: #5DFDCB;
}

.footer h2
{
    text-align: left;
    padding-top: 5%;
    font-size: 40px;
}

.footer p
{
   color: #000000; 
   text-align: left;
   padding-top: 5%;
   font-size: 25px;
}

#copyright
{
    font-size: 15px;
    text-align: center;
    margin-top: 5%;
}

.wrap
{
    position: relative;
    display: block;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carte
{
    padding-top: 2%;
    padding-bottom: 2%;
}

#infos
{
    padding-top: 1%;
    text-align: center;
}

.reseauxFooter
{
    font-size: 200%;
    color: rgb(0, 0, 0);
}
    
.reseauxFooter:hover
{
    color:bisque;
}

ul.menuBas
{
    padding-top: 5%;
    padding-left: 0%;
    margin-bottom: 0;
  
}

ul.menuBas li
{
    list-style: none;
    font-size: 25px;
}

/*FIN FOOTER*/
