/*SITE WEB 
AÏT CHADI Anissa, BERGERE Sarah, COSTA Mathéo, FELGINES Sara
ING 1 GI GROUPE 4*/ 


@charset "UTF-8";

/* font-family: 'Boogaloo', cursive; 
vert foncé : #C2D8B9
vert clair : #E4F0D0
*/

body, html
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, a:hover
{
    text-decoration: none;
}

.container-fluid
{
    padding: 0;  
}

h2
{
    text-align: center;
}

/* HEADER */

.header 
{
    background-color: #C2D8B9;
    height: 70px;
    line-height: 70px; /*Pour centrer ce qu'il y a à l'interieur de manière verticale*/
}

.logo
{
    color: #ffff;
    text-transform: uppercase; /*Ecrit en majuscule (en attendant de trouver un vrai logo*/
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;  /*Pour espacer les lettres*/
    float: left; /*On le garde a gauche*/  
    font-family: 'Boogaloo', cursive; 
}

.logo:hover
{
    font-size: 150%;  /*Léger zoom quand on passe dessus*/
}

header .reseauxlog
{
    font-size: 200%;
    color: rgb(0, 0, 0);
}

header .reseauxlog:hover
{
    color:bisque;
    font-size: 300%;  /*Zoom des logos quand on passe dessus*/
}

.menu
{
    margin: auto;
    width: 50%;
    height: 100%;
}

.menu .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.menu .main_pages a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    color: #000000;
    font-size: 150%;
    margin-right: 3%;
    background-image: linear-gradient(to right, #000000, #000000);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.6s ease-in-out;
}

.menu .main_pages a:hover {
    background-size: 100% 3px;
}


/* Changement de l'affichage du menu quand on diminue la taille de la fenêtre */
#label-toggle, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    .menu
    {
        height: 60px;
    }
 
    .menu .main_pages 
    {
        display: none;
        flex-direction: column;
        background-color: rgba(194, 216, 185, 0.5);
        backdrop-filter: blur(5px);
        height: 220px;
    }
 
    menu .main_pages a 
    {
        width: 50%;
    }
    #label-toggle
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    #toggle:checked + .main_pages 
    {
        display: flex;
    }
}

/* FIN Changement de l'affichage du menu quand on diminue la taille de la fenêtre */

.icons
{
    float:right;
}

.reseauxlog
{
    color: #000000;
}

/*FIN DU HEADER*/

/* BANNIERE AVEC MENU */

.inner-banniere
{
    position: relative;
    top: 40%;  
    width: 100%;
    background-color: #E4F0D0;
}

input
{
    margin-bottom: 20px;
}

input[type=text]
{
    height: 50px;
    width: 100%;
    border: none;
}

.search 
{
    width: 100%;
    display: flex;
    padding-top: 5%;
}
  
.searchTerm 
{
    width: 100%;
    border: 3px solid #000000;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus
{
    color: #000000;
}
  
.searchButton 
{
    width: 40px;
    height: 50px;
    border: 1px solid #000000;
    background: #000000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton i
{
  display: flex;  /*Pour centrer la loupe*/  
}

.searchButton i:hover
{
    color: #000000;
    font-size: 115%;  /*léger zoom sur la loupe*/
}
  
/* FIN BANNIERE AVEC MENU */

/*AFFICHAGE DES PRODUITS */
.product{
    margin: 10px;
    height: 90%;
}

.product:hover{
    cursor: pointer;
}

#about h4{
    margin-bottom: -3px;
    font-weight: bold;
}

.nouveau_prix{
    color: #C2D8B9;
    font-size: 30px;
    font-weight: bold;
}

#about h5{
    font-weight: bold;
}

#ancien_prix{
    color: red;
    text-decoration: line-through;
    margin-left: 10%;
    font-weight: bold;
}

/*#about span{
    font-size: 13px;
}*/

.dot{
    height: 40px;
    width: 40px;
    background-color: #C2D8B9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 80%;
}

.inner-dot{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-fluid{
    transition : transforme ease-in 0.2s;
    margin: 18px;
    height: 100px;
    width: 100px;
}

.img-fluid:hover{
    transform: scale(1.3);
}

.dot:hover{
    transform: scale(1.1);
}
/*FIN AFFICHAGE DES PRODUITS */


/*CSS PRODUITS QUAND ON CLIQUE (+ DE DÉTAILS)*/

ul > li
{
    margin-right:25px;cursor:pointer;
}

li:hover
{
    border-bottom:3px solid silver;
}

.item-photo
{
    display:flex;justify-content:center;
    align-items:center;
    border-right:1px solid #f6f6f6;
}

.menu-items
{
    list-style-type:none;
    font-size:11px;
    display:inline-flex;
    margin-bottom:0;
    margin-top:20px
}

.btn-success
{
    width:100%;
    border-radius:0;
}

.section
{
    width:100%;
    margin-left:-15px;
    padding:2px;
    padding-left:15px;
    padding-right:15px;
    background:#f8f9f9
}

.title-price
{
    margin-top:30px;
    margin-bottom:0;
    color:black
}

.title-attr
{
    margin-top:0;
    margin-bottom:0;
    color:black;
}

div.section > div 
{
    width:100%;
    display:inline-flex;
}

div.section > div > input 
{
    margin:0;
    padding-left:5px;
    font-size:10px;
    padding-right:5px;
    max-width:18%;
    text-align:center;
}

#affiche>* 
{
    flex-shrink: 0;
    width: 50%;
    padding-top: 2%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

@media (max-width: 426px) 
{
    #produits {margin-top:0px !important;}
    #produits > .row{padding:0 !important;}
    #produits > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;    
    }
    #produits > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    #produits > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;

    }            
    .section{width:104%;}
    .menu-items{padding-left:0;}
}

/*FIN CSS PRODUITS QUAND ON CLIQUE (+ DE DÉTAILS)*/


/* FILTRE DES PRODUITS */

#sidebar
{
    width: 20%;
    padding: 10px;
    margin-top: 5%;
    float: left;
}

#filtre
{
    list-style: none;
    padding: 5px;
}

#filtre li:hover
{
    text-decoration: none;
    background-color: rgb(223, 220, 220);
}

.fa-circle
{
    font-size: 20px;
}


@media screen and (min-width:567px)  and (max-width:767px)
{
    .list-group-item
    {
        position: unset;  /*Pour retirer le position: relative par défaut*/
        padding :7%;
    }
    #sidebar
    {
        width: 30%;
    }
}

@media(max-width:567px)
{
    #sidebar
    {
        width: 100%;
        padding: 10px;
        margin: 0;
        float: left;
    }
    .list-group-item
    {
        padding: 3px;
        position: unset;
    }

}
/* FIN FILTRE DE NAVIGATION */

/*SLIDER*/

.cta-100 {
    margin-top: 50px;
    padding-left: 8%;
    padding-top: 7%;
  }
  .col-md-4{
      padding-bottom:20px;
  }
  
  .white {
    color: #fff !important;
  }
  .mt{float: left;margin-top: -20px;padding-top: 20px;}
  .bg-blue-ui {
    background-color: #708198 !important;
  }
  figure img{width:300px;}
  
  #blogCarousel {
    padding-bottom: 100px;
  }
  
  .blog .carousel-indicators {
    left: 0;
    top: -50px;
    height: 50%;
  }
  
  
  /* The colour of the indicators */
  
  .blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
  
  .blog .carousel-indicators .active {
    background: #41cb52;
  }
  
  
  
  
  .item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
  }
  
  .item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
  }
  
  .item-box-blog-image {
    position: relative;
  }
  
  .item-box-blog-image figure img {
    width: 180px;
    height: 180px;  /*Taille images identiques*/
  }
  
  .item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
  }
  
  .item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
  }
  
  .item-box-blog-date span.mon {
    font-size: 18px;
  }
  
  .item-box-blog-date span.day {
    font-size: 16px;
  }
  
  .item-box-blog-body {
    padding: 10px;
  }
  
  .item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
  }
  
  .item-box-blog-heading a {
      text-decoration: none;
  }
  
  .item-box-blog-data p {
    font-size: 13px;
  }
  
  .item-box-blog-data p i {
    font-size: 12px;
  }
  
  .item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
  }
  
  .mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
  }
  
  .btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
  }
  
  
/* FIN SLIDER*/

/* FOOTER */

.footer
{
    margin-top: 5%;
    background-color: #C2D8B9;
    height: 1000px;
}

.footer .container
{
    background-color: #C2D8B9;
}

.footer h2
{
    text-align: left;
    padding-top: 5%;
    font-size: 30px;
    display: inline-block;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.footer p
{
   color: #000000; 
   text-align: left;
   padding-top: 5%;
   font-size: 20px;
}

#copyright
{
    font-size: 15px;
    text-align: center;
    margin-top: 5%;
}

.wrap
{
    position: relative;
    display: block;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carte
{
    padding-top: 2%;
    padding-bottom: 2%;
}

#infos
{
    padding-top: 1%;
    text-align: center;
}

.reseauxFooter
{
    font-size: 200%;
    color: rgb(0, 0, 0);
    padding-top: 5%;
    text-align: center;
}
    
.reseauxFooter:hover
{
    color:#E4F0D0;
}

ul.menuBas
{
    padding-top: 5%;
    padding-left: 0%;
    margin-bottom: 0;
    
  
}

ul.menuBas li
{
    list-style: none;
    color: #000000;
    font-size: 20px;
}

ul.menuBas li:hover{
   
    border-bottom:unset;
}


.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .images img {
    max-width: 30%;
    height: auto;
  }


/*FIN FOOTER*/

/*A PROPOS*/

.nous{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top: 2%;
    color:#ccc;
   
  
}

#Propos{
    color: #000000;
    font-size: 150%;
    margin-right: 3%;
    background-image: linear-gradient(to right, #000000, #000000);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.6s ease-in-out;
}

#Propos:hover{
    background-size: 100% 3px;
}


/*#Propos:before{
  content:"À\00A0PROPOS";
  color:#262626;
  position: absolute;
  top:0;
  left:0;
  width:0%;
  overflow:hidden;
  transition:all 0.6s;
}
#Propos:hover:before{
  width:100%;
}*/


#blabla{
    color: #000000;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 25px;
    text-align: justify;

}







