.formulaire_titre {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 5%;
}

.formulaire {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding-left: 30%;
    padding-top: 2%;
}

.boite {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Nom, .mail, .Naissance, .Prenom, .Contact, .sujet {
    border: none;
    border-bottom: 2px solid grey;
}

.div_sujet, .contenu_sujet{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
}

.div_sujet{
    margin-top: -2%;
}

.div_nom, .div_mail, .div_naissance, .div_prenom, .div_contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 13%;
}

input:focus{
    outline: none;
}

form label {
    padding-bottom: 4%;
}

.gauche {
    width: 42%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

.GenreRadio{
    margin-bottom: 8%;
}

.div_util{
    margin-bottom: 8%;
}

.labeltype_util {
    padding-bottom: 5%;
}

.droite {
    width: 48%;
    display: flex;
    flex-direction: column;
}

#button-sbt {
    background-color: rgb(74, 105, 139);
    width: 70px;
    height: 40px;
    border-radius: 8px;
}

.encadreRouge
{
    border: none;
    border-bottom: 2px solid red;
}
.encadreVert
{
    border: none;
    border-bottom: 2px solid green;
}