
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #3700A8; }
.My-Color-Theme-2-hex { color: #F29700; }
.My-Color-Theme-3-hex { color: #702CF6; }
.My-Color-Theme-4-hex { color: #13F26C; }
.My-Color-Theme-5-hex { color: #FFFFFF; }

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#title{
    color: black;
    font-size:xx-large;
    font-weight: 700;
}




