[class*='container'] {
    background-clip: content-box;
}

.row [class*='col'] {
    /*background-color: #E4F0D0;*/
    background-clip: content-box;
}

.nav-item {
    background-clip: content-box;
}

#log-logo{
    font-size: xx-large;
}

li:hover{
    background-color: #E4F0D0;
}