/*SITE WEB 
AÏT CHADI Anissa, BERGERE Sarah, COSTA Mathéo, FELGINES Sara
ING 1 GI GROUPE 4*/ 

.container-fluid{
    background-color: rgb(71, 71, 155);
    padding: 1%;
    text-align: center;
}

.container a{
    outline: none;
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
    font-weight: bold;
}

.btn{
    background-color:rgb(174, 66, 66);
    color: antiquewhite;
    align-items: center;
}

i:hover{
    cursor: pointer;
}

.total{
    padding-left: 70%;
}

#connexion{
    color: rgb(172, 136, 206);
    text-decoration: underline;
    font-weight: 400;
}

.connexion{
    padding-left: 35%;
    font-weight: 400;
}

.total_abo{
    padding-left: 70%;
}